@media all and (max-width:1600px) {
  .container {
    max-width: 1400px;
  }

  .top-link li {
    padding: 0 20px;
  }


}

@media all and (max-width:1440px) {
  .container {
    max-width: 1200px;
  }

  .top-link li {
    padding: 0 10px;
  }

  /*   .mr-left {
    margin-left: 0;
  } */

  .sub-title {
    width: calc(100% - 0px);
  }

  .mr-left {
    margin-left: 0;
  }

  .acc__panel {
    font-size: 20px;
    padding  : 0 60px 18px;
  }
}

@media all and (max-width:1336px) {
  .logo {
    max-width: 240px;
  }

  .support {
    font-size: 40px;
  }

  .top-link,
  .notification {
    margin-top   : 25px;
    margin-bottom: 25px;
    font-size    : 23px;
  }

  .headings h3 {
    font-size: 45px;
  }

  .headings small {
    font-size: 19.5px;
  }

  .sub-title h3 {
    font-size: 35px;
  }

  .acc__title .form-group label:before {
    padding: 14px;
  }

  .acc__title .form-group input:checked+label:after {
    top : 9px;
    left: 11px;
  }

  .acc__title {
    font-size: 25px;
  }

  .acc__panel {
    font-size: 19px;
    padding  : 0 60px 18px;
  }


  .form-group label:before {
    padding     : 15px;
    top         : 7px;
    margin-right: 15px;
  }

  .acc__title .preview,
  .acc__title .drop-down {
    width: 30px;
  }

  .acc__title .preview img,
  .acc__title .drop-down img {
    width: 100%;
  }

  .points li span {
    font-size: 50px;
  }

  .points li {
    font-size   : 22px;
    margin-right: 60px;
  }

  .laguage-sel p,
  a.back-to-top {
    font-size: 23px;

  }

  a.back-to-top {

    bottom: 170px;

  }

  .laguage-sel ul li {
    font-size: 27px;
  }

  .mr-top2 {
    margin-top: 60px;
  }

  .back-to-top .bt {
    width: 22px;
  }

  .button {
    font-size: 26px;
    width    : 260px;
    margin   : 30px 25px;
  }



  .gr-divi {

    margin-top   : 70px;
    margin-bottom: 20px;
  }

  .hizentra-logo {
    max-width: 150px;
    margin   : 0 auto 15px;
  }

  .copyright,
  .ques-contact {

    font-size: 18px;
  }
}

@media all and (max-width:1250px) {
  .container {
    width    : 100%;
    max-width: 1000px;
  }

  .logo {
    max-width: 210px;
  }

  .support {
    font-size: 35px;
  }

  .top-link,
  .notification {
    margin-top   : 22px;
    margin-bottom: 22px;
    font-size    : 18px;
  }

  .notification li img {
    width: 28px;
  }

  .notification li {
    padding: 0px 20px;
  }

  .headings h3 {
    font-size: 40px;
  }

  .sub-title h3 {
    font-size: 30px;
  }

  .form-group label:before {
    padding     : 13px;
    top         : 6px;
    margin-right: 11px;
  }

  .form-group input:checked+label:after {
    top   : 8px;
    left  : 12px;
    width : 8px;
    height: 20px;

  }

  .points li span {
    font-size: 43px;
  }

  .points li {
    font-size   : 19px;
    margin-right: 40px;
  }

  .points {
    top: 43%;
  }

  .laguage-sel p,
  a.back-to-top {
    font-size: 20px;
  }

  .laguage-sel ul li {
    font-size: 22px;
  }

  .button {
    font-size: 20px;
    width    : 205px;
    margin   : 20px 15px;
  }

  a.back-to-top {
    bottom: 130px;
  }

  .gr-divi {
    margin-top   : 50px;
    margin-bottom: 15px;
  }

  .hizentra-logo {
    max-width: 140px;
    margin   : 0 auto 15px;
  }

  .copyright,
  .ques-contact {
    font-size: 15px;
  }

  .top-link li {
    padding      : 0 10px;
    margin-bottom: 16px;
  }
}

@media all and (max-width:990px) {
  .points {
    position      : relative;
    transform     : inherit;
    left          : 0;
    padding-bottom: 12px;
    top           : auto;
  }

  .laguage-sel p {

    /*  padding: 20px 10px 20px 40px; */
    width      : 60%;
  }

  .laguage-sel ul li {

    padding: 35px 25px;
    cursor : pointer;
  }

  .acc__title {
    font-size: 22px;
  }

  .acc__panel {
    font-size: 18px;
    padding  : 0 60px 18px;
  }

  .acc__title .form-group label:before {
    padding: 14px;
  }


  .acc__title .form-group input:checked+label:after {
    top : 9px;
    left: 11px;
  }

  .acc__title .preview,
  .acc__title .drop-down {
    width: 26px;
  }

  .headings h3 {
    font-size: 35px;
  }

  .ques-contact {
    position: relative;
  }
}

@media all and (max-width:800px) {
  .laguage-sel p {

    width: 59%;
  }
}

@media all and (max-width:768px) {
  .acc__title {
    font-size: 20px;
  }

  .acc__panel {
    font-size: 17px;
    padding  : 0 44px 18px;
  }

  .laguage-sel p {
    padding: 15px 10px 15px 15px;

  }

  .laguage-sel ul li {
    padding: 29px 25px;
  }

  .acc__title .form-group label:before {
    padding     : 12px;
    margin-right: 12px;

  }

  .acc__title .form-group input:checked+label:after {
    width : 9px;
    height: 20px;
  }
  .acc__title .preview {
    right: 50px;
  }

  .acc__title .form-group {
    width: calc(100% - 110px);
  }

  .acc__title .form-group label {
    padding: 0 0 0 23px;
  }

  .acc__title .form-group label:before {
    left          : -16px;
    top           : 0;
    position      : absolute;
    vertical-align: middle;

  }

  .acc__title .form-group input:checked+label:after {
    top : 0;
    left: -6px;
  }

  .acc__panel {

    padding  : 0 24px 18px;
    font-size: 15px;
  }


}

@media all and (max-width:670px) {
  .laguage-sel p {
    width: 100%;

    margin    : 0 auto;
    text-align: center;

    padding: 15px 10px 15px 10px;

  }

  .laguage-sel ul {
    width     : 100%;
    text-align: center;
    float     : none;
  }

  .laguage-sel ul li {
    padding: 10px 25px;
  }



  .points li {
    font-size   : 17px;
    margin-right: 21px;
  }

  .points li span {
    font-size   : 41px;
    margin-right: 10px;
  }

  .top-link {
    margin-bottom: 0px;

  }
}

@media all and (max-width:600px) {

  /*  header {

    padding: 10px 12px;
  }
 */
  .logo {
    max-width: 190px;
  }

  .support {
    font-size: 30px;
    width    : 220px;
  }

  .notification {
    text-align: left;
  }

  .notification li {
    padding: 0px 22px 0 0;
  }

  .mr-top1 {
    margin-top: 25px;
  }

  .gr-divi {
    margin-top   : 30px;
    margin-bottom: 10px;
  }

  .mr-top2 {
    margin-top: 40px;
  }

  .button {
    font-size: 17px;
    width    : 145px;
    margin   : 15px 15px;
  }

  a.back-to-top.show {
    display: none;
  }
}



@media all and (max-width:576px) {
  .logo {
    max-width: 165px;
  }

  .headings h3 {
    font-size: 30px;
  }

  .headings small {
    font-size: 16px;
  }

  .sub-title h3 {
    font-size: 25px;
  }

  .acc__title {
    font-size: 18px;
  }

  .points li {
    font-size   : 15px;
    margin-right: 12px;
  }

  .points li span {
    font-size   : 36px;
    margin-right: 10px;
  }

  .acc__card {
    position     : relative;
    margin-bottom: 10px;
  }

  .acc__title .form-group label:before {
    margin-bottom: 10px;
  }

  .laguage-sel ul li {
    font-size: 18px;
  }

  .pd-left {
    padding-left: 15px;
  }


}

@media all and (max-width:520px) {
  .support {
    font-size: 30px;
    width    : 197px;
  }

  .notification li {
    padding: 0px 10px 0 0;
  }

  .notification li img {
    width: 20px;
  }

  .button {
    font-size: 14px;
    width    : 99px;
    margin   : 10px 15px;
  }
}

@media all and (max-width:480px) {}

@media all and (max-width:450px) {
  .support {
    font-size   : 26px;
    width       : 174px;
    padding-left: 15px;
    margin-right: -15px;
  }

  .logo {
    max-width    : 160px;
    width        : 47%;
    padding-right: 15px;
    margin-left  : -15px;
  }

  .notification li {
    padding: 0px 10px 12px 0;
  }

  .points {
    margin-bottom: 0px;
  }

  .points li {
    margin-bottom: 20px;
  }

  .points li:last-child {
    margin-bottom: 0px;
  }

  .button {

    margin: 10px 5px;
  }

  .acc__title {
    font-size: 16px;
  }

  .acc__panel {

    font-size: 14px;
  }
}

@media all and (max-width:400px) {
  .support {
    font-size: 25px;
    width    : 164px;
  }

  .top-link li {
    padding: 0 19px 0 0;
    border : 0;
  }

  .acc__title .form-group {
    width: calc(100% - 69px);
  }

  .acc__title .preview,
  .acc__title .drop-down {
    width: 22px;
  }

  .acc__title .preview {
    right: 40px;
  }

  .headings h3 {
    font-size: 28px;
  }

  .sub-title h3 {
    font-size: 22px;
  }
}

@media all and (max-width:360px) {
  .top-link li {
    padding      : 0 5px 0 0;
    border       : 0;
    margin-bottom: 10px;
  }

  .top-link {
    margin-bottom: 0px;
    font-size    : 18px;
  }

  .side-space {
    /*   margin  : 5px; */
    position     : relative;
  }

  .headings small {
    font-size: 14px;
  }

  .acc__title {
    font-size: 16px;
  }

  .acc__title .form-group label:before {
    padding     : 8px;
    margin-right: 8px;
  }

  .acc__title .form-group input:checked+label:after {
    width : 6px;
    height: 15px;
    left  : 2px;
  }

  .button {
    margin: 6px 1px;
  }

  .acc__title .form-group label:before {
    left: -6px;
  }

  .acc__title .preview,
  .acc__title .drop-down {
    width: 20px;
  }

  .support {
    font-size: 23px;
    width    : 152px;
  }
}

@media all and (max-width:320px) {
  .support {
    width    : 141px;
    font-size: 16px;
  }

  .top-link {
    margin-bottom: 0px;
    font-size    : 16px;
  }

}